{% load static %}
<link href="{% static 'assets/fonts/inter/inter.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/icons/phosphor/styles.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/layout.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/components.min.css' %}" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/app.js' %}"></script>
